<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	  <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!--<add key="valtech-se" value="https://pkgs.dev.azure.com/valtech-se/_packaging/valtech-se/nuget/v3/index.json" />-->
  </packageSources>
</configuration>
